* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    height: 100vh;
   
  }

  .container{
    margin: 0 auto;
    height: 100vh;
    // background-color: #6a6a6a;
    width: 90%;
    display: flex;
   justify-content: center;
   align-items: center;
    // gap: 50px;

    .r-side{
      // background-color: antiquewhite;
      width: 50%;
        .title{
            font-size: 3em;
            font-weight: bold;
        }
        .desc{
          font-size: 1.200em;
            line-height: 1.7;
            margin: 20px 0;
        }

        .checklist{
          font-size: 1.200em;
            // margin-top: 20px;
            ul{

            }

            ul li{
              margin: 10px 0;
              display: flex;
              // flex-direction: column;
              gap: 10px;
              align-items: center;
            }
        }

        ul{
            list-style: none;
        }
    }
  }


  .l-side{
    // background-color: aqua;
    width: 50%;
    display: flex;
    flex-direction: column;
    // align-items: center;
    // justify-content: space-around;
    gap: 50px;
    .cards{
        background-color: #fff;
        width: 350px;
        border-radius: 10px;
       padding: 10px;
       box-shadow: 5px 5px 15px rgb(79, 79, 79)
    }

    .cards.card-1{
       align-self: flex-end;
    }

    .star{
     
     
        display: flex;
        align-items: center;
        gap: 15px;
    }

    .name{
        font-size: 1.1em;
        font-weight: bold;
        margin: 5px 0;
    }

    .comment{
        font-size: 1.150em;
          line-height: 1.5;
    }
  }

  .author-info {
    font-size: 14px;
    text-align: center;
    margin-top: 16px;
    color: rgb(55, 65, 81);
  }

  .author-info a {
    text-decoration: none;
  }

// for Mobile
@media screen and (min-width: 480px){
  .cards.card-1{
    justify-self: flex-start;
  }

}

// for Tablet
@media screen and (max-width: 768px) {
  .container{
    flex-direction: column;

    .l-side{
      width: 100%;
    }

    .r-side{
      width: 100%;
      margin-bottom: 20px;
    }
  }
}

// for Desktop
@media screen and (min-width: 992px){
  
}

// for Huge
@media screen and (min-width: 1280px){

} 